@(title: String, js: String)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/materialize.css")"></link>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--
    <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jstz-1.0.4.min.js")" type="text/javascript"></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

    <script type='text/javascript' src='@routes.Assets.at("javascripts/3rdparty/moment.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/3rdparty/moment-timezone-with-data.min.js")'></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <nav>
                <div class="nav-wrapper container">
                    <a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <a href="/" class="left logo_link"><img src="assets/images/logo_nav.png" style="vertical-align: middle; width: 80px"></a>
                        <li><a href="feeds"><i class="material-icons left">home</i>Home</a></li>
                        <li><a href="subscriptions"><i class="material-icons left">av_timer</i>Subscriptions</a></li>
                        <li><a href="deliveries"><i class="material-icons left">list</i>History</a></li>
                    </ul>
                    <ul class="hide-on-large-only">
                        <a href="/" class="brand-logo logo_link"><img src="assets/images/logo_nav.png" style="vertical-align: middle; width: 80px"></a>
                    </ul>

                    <ul class="right hide-on-med-and-down">
                        <!--   <li><a href="home"><i class="material-icons left">home</i>Home</a></li>
                           <li><a href="history"><i class="material-icons left">list</i>History</a></li> -->
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">settings</i>@session.get("displayName")<i class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>

                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="user">Settings</a></li>
                        <li><a href="logout">Logout</a></li>
                    </ul>
                    <ul class="side-nav" id="side-menu">
                        <li><a href="feeds">Home</a></li>
                        <li><a href="subscriptions">Subscriptions</a></li>
                        <li><a href="deliveries">History</a></li>
                        <li><a href="user">Settings</a></li>
                        <li><a href="logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
            <div class="progress" id="loading">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div id="content">
            <script src='assets/javascripts/@js' type='text/babel'></script>
            <script type="text/javascript">
            $(document).ready(function(){
                $(".button-collapse").sideNav()
                $(document).bind("ajaxSend", function(){
                    $("#loading").show();
                }).bind("ajaxComplete", function(){
                    $("#loading").hide();
                });
            })

            </script>
            <script src="@routes.Assets.at("javascripts/3rdparty/materialize.js")" type="text/javascript"></script>
        </div>
        <div id="footer">
            <script type='text/babel'>
                var ContactModal = React.createClass({
                  getInitialState: function() {
                    return {};
                  },
                  componentDidMount: function() {
                    $('#contact_modal_btn').click(function() {
                      $('#contact_modal').openModal()
                    });
                  },
                  handleSubmit: function() {
                     $.ajax({
                       url: "//formspree.io/contact@@keendly.com",
                       type: "POST",
                       data: JSON.stringify({'email': this.state.sender, 'message': this.state.message}),
                       contentType: "application/json; charset=utf-8",
                       dataType: "json",
                       success: function(data) {
                         $('#contact_modal').closeModal();
                       }.bind(this),
                       error: function(xhr, status, err) {
                         this.setState({success: false, error: true})
                       }.bind(this)
                     });
                  },
                  handleMsgChange: function(event) {
                    this.setState({
                      message: event.target.value
                    });
                  },
                  handleEmailChange: function(event) {
                    this.setState({
                      sender: event.target.value
                    });
                  },
                  render: function() {
                    return (
                      <div id="contact_modal" className="modal">
                          <div className="modal-content" id="feedback_form">
                              <h4>Leave feedback</h4>
                                {this.state.error == true ? <div className='error_div'>Error occured :-(, please send your feedback to <a href="mailto:contact@@keendly.com" target="_top">contact@@keendly.com</a></div> : ''}
                                <form className="col s12" id="contact_form" method="POST">
                                  <div className="row">
                                      <div className="input-field col s12">
                                        <input value={this.state.sender} onChange={this.handleEmailChange} name="email" id="email" type="email" className="validate"/>
                                        <label className="active" htmlFor="email">Your email</label>
                                    </div>
                                  </div>
                                  <div className="row">
                                      <div className="input-field col s12">
                                        <textarea value={this.state.message} className="materialize-textarea" onChange={this.handleMsgChange} name="message" id="message" type="text"/>
                                        <label className="active" htmlFor="message">Message</label>
                                    </div>
                                  </div>
                              </form>
                          </div>
                          <div className="modal-footer">
                              <a href="#!" className="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
                              <a href="#!" onClick={this.handleSubmit} className="modal-action waves-effect waves-green btn-flat submit save" id="contact_send_btn">Send</a>
                          </div>
                      </div>
                    );
                  }
                });

                ReactDOM.render(
                  <ContactModal url="" />,
                  document.getElementById('modal')
                );
            </script>
            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l12 s12">
                            <h5 class="white-text">Share your opinion</h5>
                            <p class="grey-text text-lighten-4">Help us improve Keendly by giving your feedback.</p>
                            <a class="waves-effect waves-light btn modal-trigger" id="contact_modal_btn" href="#contact_modal">Feedback</a>
                        </div>
                        <!--<div class="col l4 offset-l2 s12">
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="#">Contact</a></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <div id="modal"></div>
                <div class="footer-copyright">
                    <div class="container">
                        © 2016 Keendly
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76042310-2', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
