@(error: String)

<!DOCTYPE html>

<html>
    <head>
        <title>Log in | Keendly</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/materialize.css")"></link>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
             $(document).ready(function(){
                $('.modal-trigger').leanModal();
            });
        </script>
    </head>
    <body>
        <div class="hide-on-small-only" style="text-align: center; margin: 50px">
           <img src="assets/images/logo_login.png">
        </div>
        <div class="hide-on-med-and-up" style="text-align: center; margin: 50px">
            <img src="assets/images/logo_nav.png">
        </div>
        @if(error != null) {
            <div class='error_div' style="margin: auto; text-align: center; width: 50%">@error</div>
        }
        <div class="login_btns">
            <a class="button primary inoreader modal-trigger" href="#inoreader_modal">Log in with <b>Inoreader</b></a>
            <a class="button primary oldreader modal-trigger" href="#oldreader_modal">Log in with <b>The Old Reader</b></a>
            <!--<a class="button primary feedly disabled" href="@play.Play.application().configuration().getString("feedly.url")/auth/auth?response_type=code&client_id=@play.Play.application().configuration().getString("feedly.client_id")&redirect_uri=@play.Play.application().configuration().getString("feedly.redirect_uri")&scope=https://cloud.feedly.com/subscriptions">Log in with <b>Feedly</b></a>-->
            <a class="button primary feedly disabled" href="#">Log in with <b>Feedly</b></a>
            <a class="button primary newsblur disabled" href="#">Log in with <b>NewsBlur</b></a>
        </div>
        @inoreaderModal
        @oldreaderModal
        <script src="@routes.Assets.at("javascripts/3rdparty/materialize.js")" type="text/javascript"></script>
    </body>
</html>



@inoreaderModal = {
<div id="inoreader_modal" class="modal login-modal">

    <form action="inoreaderLogin" method="POST">
        <div class="modal-content" id="delivery_form">
            <h4 class="hide-on-small-only">Log in with Inoreader</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="pass" type="password" class="validate" name="password">
                    <label for="pass">Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" onclick="$(this).closest('form').submit()" class="modal-action waves-effect waves-green btn submit save ino-save-btn" id="delivery_save_btn">Log in</a>
        </div>
    </form>
</div>
}

@oldreaderModal = {
<div id="oldreader_modal" class="modal login-modal">

    <form action="oldReaderLogin" method="POST">
        <div class="modal-content" id="delivery_form">
            <h4 class="hide-on-small-only">Log in with The Old Reader</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="pass" type="password" class="validate" name="password">
                    <label for="pass">Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" onclick="$(this).closest('form').submit()" class="modal-action waves-effect waves-green btn submit save old-save-btn" id="delivery_save_btn">Log in</a>
        </div>
    </form>
</div>
}
