body {
  font-family: sans-serif;
}

.button.primary {
  color: white;
  font-size: 16px;
  line-height: 56px;
  margin-bottom: 10px;
  padding-left: 56px;
  background-position: 14px 14px;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: 224px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.button.feedly {
  background-color: #87BD4D;
  background-image: url('/assets/images/login_feedly.png');
}

.button.aol {
  background-color: #4F9DDB;
  background-image: url('/assets/images/login_aol.png');
}

.button.digg {
  background-color: #010101;
  background-image: url('/assets/images/login_digg.png');
}

.button.inoreader {
  background-color: #30517E;
  background-image: url('/assets/images/login_inoreader.png');
}

#subscriptions label {
  height: 15px;
}

#subs-container {
  padding-top: 20px;
}

#search {
  margin-top: -5px
}

#search label {
  transform: translateY(0)
}

.modal {
  max-width: 700px
}

.error_div {
  background-color: #ffcdd2;
  border-width: 0px;
  padding: 10px;
  color: #b71c1c;
  margin-top: 7.25px;
}

.error_modal {
  background-color: #ffcdd2;
  border-width: 0px;
  padding: 15px;
  color: #b71c1c;
  text-align: center
}

.info_div {
  background-color: #bbdefb;
  border-width: 0px;
  padding: 10px;
  color: #0d47a1;
  margin-top: 7.25px;
}

.success_div {
  background-color: #c8e6c9;
  border-width: 0px;
  padding: 10px;
  color: #1b5e20;
  margin-top: 7.25px;
}


html, body, #wrapper {
  height: 100%
}

body > #wrapper {
  height: auto;
  min-height: 100%
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 10em;
  margin-top: -10em;
}

#content { padding-bottom: 10em; }

#settings_form {
  padding-top: 20px;
}

#settings_form button {
  float: right
}

#subscription_delete_btn {
  float: left;
  background-color: #e57373;
  color: white
}

#subscription_delete_btn.disabled {
  background-color: #ffcdd2;
}

.login_btns {
  margin-top: 20px
}

.login_btns .disabled {
  opacity: .3
}

.logo_link {
  margin-right: 15px
}

.pagination {
  text-align: center
}

#loading {
  margin: 0
}

