@main("Home | Keendly") {

<script type="text/babel">
        var FeedBox = React.createClass({
          render: function() {
            return (
            <div class="container" id="subs-container">
              <div class="row">
                  <div class="col s12 m6">
                      <a class="waves-effect waves-light btn modal-trigger" id="delivery_modal_btn" href="#delivery_modal">Deliver now</a>
                      <a class="waves-effect waves-light btn modal-trigger" id="subscription_modal_btn" href="#subscription_modal">Schedule</a>
                  </div>
                  <div class="input-field col offset-m3 s12 m3" id="search">
                      <input id="search_box" type="search" required />
                      <label for="search_box"><i class="material-icons">search</i></label>
                  </div>
              </div>
              <FeedList data={this.props.data} />
            </div>
            );
          }
        });

        var FeedList = React.createClass({
          render: function() {
          var feedNodes = this.props.data.map(function(feed) {
              return (
                <Feed title={feed.title} key={feed.id}>

                </Feed>
              );
            });
            return (
            <table class="highlight" id="subscriptions">
              <thead>
              <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Scheduled</th>
                  <th class="hide-on-small-only" >Last delivery</th>
              </tr>
              </thead>

              <tbody>
                {feedNodes}
              </tbody>
            </table>
            );
          }
        });

        var Feed = React.createClass({
          render: function() {
            return (
              <tr>
                  <td><input type="checkbox" class="filled-in" /></td>
                  <td class="feed_title">{this.props.title}</td>
                  <td>
                  </td>
                  <td class="hide-on-small-only" ></td>
              </tr>
            );
          }
        });
        var data = [
          {id: 1, title: "Pete Hunt"},
          {id: 2, title: "Jordan Walke"}
        ];
        ReactDOM.render(
          <FeedBox data={data}/>,
          document.getElementById('content')
        );
</script>
}
