@()(implicit session: play.mvc.Http.Flash)

<!DOCTYPE html>

<html>
<head>
    <title>Log in | Keendly</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div style="text-align: center; margin: 50px">
        <img src="assets/images/logo_login.png">
    </div>
    @if(!flash.isEmpty() && flash.get("error") != null) {
        <div class='error_div' style="margin: auto; text-align: center; width: 50%">@flash.get("error")</div>
    }
    <div class="login_btns">
        <a class="button primary feedly" href="@play.Play.application().configuration().getString("feedly.url")/auth/auth?response_type=code&client_id=@play.Play.application().configuration().getString("feedly.client_id")&redirect_uri=@play.Play.application().configuration().getString("feedly.redirect_uri")&scope=https://cloud.feedly.com/subscriptions">Log in with <b>Feedly</b></a>
        <a class="button primary aol disabled" href="#">Log in with <b>AOL Reader</b></a>
        <a class="button primary digg disabled" href="#">Log in with <b>Digg Reader</b></a>
      <!--
        <a class="button primary aol" href="https://www.facebook.com/v2.0/dialog/oauth?client_id=129765800430121&amp;redirect_uri=https%3A%2F%2Fsandbox.feedly.com%2Fv3%2Fauth%2Fcallback&amp;state=AjAGW2R7ImkiOiJzYW5kYm94IiwiciI6Imh0dHA6Ly9sb2NhbGhvc3Q6ODA4MCIsInAiOiJGYWNlYm9vayJ9&amp;response_type=code&amp;scope=public_profile,email,user_likes&amp;display=popup">Continue with <b>AOL Reader</b></a>
        <a class="button primary digg" href="https://www.facebook.com/v2.0/dialog/oauth?client_id=129765800430121&amp;redirect_uri=https%3A%2F%2Fsandbox.feedly.com%2Fv3%2Fauth%2Fcallback&amp;state=AjAGW2R7ImkiOiJzYW5kYm94IiwiciI6Imh0dHA6Ly9sb2NhbGhvc3Q6ODA4MCIsInAiOiJGYWNlYm9vayJ9&amp;response_type=code&amp;scope=public_profile,email,user_likes&amp;display=popup">Continue with <b>Digg Reader</b></a>
        <a class="button primary inoreader" href="https://www.facebook.com/v2.0/dialog/oauth?client_id=129765800430121&amp;redirect_uri=https%3A%2F%2Fsandbox.feedly.com%2Fv3%2Fauth%2Fcallback&amp;state=AjAGW2R7ImkiOiJzYW5kYm94IiwiciI6Imh0dHA6Ly9sb2NhbGhvc3Q6ODA4MCIsInAiOiJGYWNlYm9vayJ9&amp;response_type=code&amp;scope=public_profile,email,user_likes&amp;display=popup">Continue with <b>InoReader</b></a>
      -->
    </div>
</body>
</html>

