@(email: String)(implicit session: play.mvc.Http.Flash)

@main("Keendly") {

      <div class="container">
          @if(!flash.isEmpty() && flash.get("info") != null) {
            <div class='success_div'>@flash.get("info")</div>
          }
          <form class="col s12" id="settings_form" method="POST">
              <div class="row">
                  <div class="input-field col s12">
                    <input name="email" id="email" type="email" class="validate" value="@email">
                    <label for="email">Delivery email</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit" name="action">Save
                  <i class="material-icons right">send</i>
              </button>
          </form>
      </div>

}
